<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <group ns="/seven_dof_arm">
    <!-- Robot pose -->
    <arg name="x" default="5"/>
    <arg name="y" default="5"/>
    <arg name="z" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>

    <!-- Launch other relevant files-->
    <include file="$(find arm_robot)/launch/view_arm.launch"/>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find arm_robot)/config/seven_dof_arm_gazebo_control.yaml" command="load"/>

  
    <!-- World File -->
    <arg name="world_file" default="$(find arm_robot)/worlds/obstacle.world"/>

    <!-- Launch Gazebo World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="use_sim_time" value="true"/>
      <arg name="debug" value="false"/>
      <arg name="gui" value="true" />
      <arg name="world_name" value="$(arg world_file)"/>
    </include>



    <!-- Find my robot Description-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find arm_robot)/urdf/seven_dof_arm.xacro'"/>

    <!-- Spawn My Robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
          args="-urdf -param robot_description -model arm_robot 
                -x $(arg x) -y $(arg y) -z $(arg z)
                -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/seven_dof_arm" args="joint_state_controller
              joint1_position_controller
              joint2_position_controller
              joint3_position_controller
              joint4_position_controller
              joint5_position_controller
              joint6_position_controller
              "/>

  </group>
  <!-- launch rviz
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find chaser_robot)/config/amcl_config.rviz"/> -->

</launch>
